@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: hsl(217, 54%, 11%);
    width:100%;
    height:100vh;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: "Outfit", sans-serif;
}

.card{
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    width:275px;
    padding: 1.5rem;
}

.image{
    position: relative;
}

.image div{
    position:absolute;
    background-color: hsl(178, 100%, 50%, 60%);
    top:0;
    width:100%;
    height:100%;
    opacity: 0;
}

.image div:hover{
    opacity:1;
    cursor:pointer;
    border-radius: 10px;
}

.image div img{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.mainImg{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor:pointer;
}

h3{
    margin-top:1.5rem;
    font-size:20px;
    font-weight:600;
    cursor:pointer;
}

.description{
    margin: 0.6rem 0 1rem 0;
    font-weight:300;
    line-height:28px;
    color:hsl(215, 51%, 70%);
}

.price-days{
    display:flex;
    
    justify-content: space-between;
    border-bottom: 1px solid hsl(215, 51%, 70%);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.price{
    display: flex;
    align-items:center;
    color:hsl(178, 100%, 50%);
    font-size: 14px;
    letter-spacing: 1px;
}

.price img{
    margin-right: 5px;
}

.days{
    display:flex;
    align-items:center;
    color:hsl(178, 100%, 50%);
    font-size:14px;

}

.days img{
    margin-right: 5px;
}

.creator{
    display: flex;
    align-items:center;
    font-size: 15px;
    color:hsl(215, 51%, 70%);
}

.avatar{
    width:30px;
    border: 1px solid white;
    border-radius:50px;
    margin-right: 1rem;
}

span{
    color:white;
    margin-left:5px;
    cursor:pointer;
}

h3:hover, span:hover{
    color:hsl(178, 100%, 50%);
}





